@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --color-primary: #e7d5a7;

  --color-secondary: #731b19;
  --color-secondary-dark: #58100f;

  --white: #ffffff;
  --black: #000000;

  --box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);


  }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  

}

html {
  font-size: 62.5%; //1rem = 10px
  background-color: var(--color-primary);
}


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-primary) !important;
  width: 100%;
}


