@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
  --color-primary: #303452;

  --color-secondary: #161a25;
  --color-secondary-dark: #151827;

  --white: #ffffff;
  --white-medium: #e7e6e6;
  --black: #000000;

  --box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);

  --color-blue-primary: #161a25;
  --color-blue-primary-dark: #05060a;

  --color-purple-primary-dark: #303452;
  --color-purple-primary-light: #5d556a;
  --color-purple-primary-medium: #525492;



  }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  

}

html {
  font-size: 62.5%; //1rem = 10px
  background-color: var(--color-primary);
}


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to left top, var(--color-blue-primary), var(--color-purple-primary-dark));
  width: 100%;
}

//media query 
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    }
}

