@import "base";

.nav {
  background-color: var(--color-secondary);
  height: 8rem;
  font-size: 1.7rem;
  box-shadow: var(--box-shadow);

  @include respond (phone) {
    height: 15rem;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    @include respond (phone) {
      flex-direction: column;
    }
    
    li {
      border-bottom: 1px solid var(--color-purple-primary-dark);

    }
    a {
      color: var(--white);
      //   border-radius: 1.2rem;
      //   background-image: linear-gradient(to left top, var(--color-purple-primary-medium), var(--color-purple-primary-light));
        width: 20rem;
      //   height: 3.3rem;
      //   box-shadow: var(--box-shadow);
      text-decoration: none;
      transition: all 0.4s;
      text-align: center;


      :visited {
        color: var(--white);
      }
      :hover {
              width: 20rem;
        border-radius: 1.2rem;
        background-color: var(--white);
        color: var(--color-blue-primary-dark);
        box-shadow: 0 1rem 2rem rgba(black, 0.2);
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  color: var(--white);

  h1 {
    font-family: "Acme", sans-serif;
    font-size: 4.6rem;
    margin: 2rem;
  }
  .searchBar {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;

    .search-input {
      background-color: transparent;
      margin: 0 1rem;
      border-radius: 1.5rem;
      padding-top: 0.2rem;
      width: 22rem;
      height: 3.5rem;
      box-shadow: var(--box-shadow);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--color-secondary);

      @include respond (phone) {
        margin: 1rem 0;
      }
      

      input {
        border-style: none;
        border-radius: 1rem;
        outline: none;
        background-color: transparent;
        color: var(--white);

        &::placeholder {
          color: var(--white);
        }
      }

      svg {
        margin: 0 1rem;
      }
    }
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    color: var(--white);

    img {
      width: 80%;

      @include respond (phone) {
        width: 70%;
      }
    }

    .cards {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: 1rem 0.5rem;
      text-align: center;
      max-width: 25%;
      box-shadow: var(--box-shadow);
      background-color: var(--color-purple-primary-dark);
      border-radius: 2rem;

      @include respond (phone) {
        flex: 100%;
        max-width: 100%;
      }

      @include respond (tab-port) {
        flex: 40%;
        max-width: 50%;
      }


      p {
        font-family: "Acme", sans-serif;
        font-size: 2.3rem;
      }

      h4:nth-child(5) {
        display: flex;
      }

      h3 {
        font-family: "Acme", sans-serif;
        font-size: 2rem;
      }

      .cardText {
        width: 50%;
      }

      .btn-add-card {
        margin-top: 1rem;
        border-style: none;
        border-radius: 2rem;
        background-image: linear-gradient(
          to left top,
          var(--white),
          var(--white-medium)
        );
        width: 8rem;
        height: 3rem;
        color: var(--color-purple-primary-dark);
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          transform: translateY(-0.3rem);
          box-shadow: 0 1rem 2rem rgba(black, 0.2);
        }

        svg {
          font-size: 2rem;
        }
      }
    }

    .home {
      height: 45rem;
      
      @include respond (phone) {
        height: 28rem;
        flex: 100%;
        max-width: 100%;

        @include respond (tab-port) {
          flex: 40%;
          max-width: 50%;
        }
      }
    }

    .mycards {
      height: 60rem;

      @include respond (phone) {
        height:auto;
      }

      @include respond (tab-port) {
        height:auto;
      }

    }

    .btn-group {
      margin: 2rem;
      button {
        background-image: linear-gradient(
          to left top,
          var(--white),
          var(--white-medium)
        );
        border-style: none;
        margin-right: 0.2rem;
        padding: 0.1rem 0.2rem;
        border-radius: 1rem;
        color: var(--color-blue-primary-dark);
      }

      a {
        background-image: linear-gradient(
          to left top,
          var(--white),
          var(--white-medium)
        );
        border-style: none;
        margin-left: 0.2rem;
        padding: 0.1rem 0.1rem 0.1rem 0.2rem;
        border-radius: 1rem;
      }
      svg {
        color: var(--color-purple-primary-light);
        width: 3rem;
      }
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);

  h3 {
    font-family: "Acme", sans-serif;
    margin: 2rem;
    font-size: 3rem;
  }

  .jumbotron {
    width: 50%;
    background-color: transparent;
    color: var(--white);
  }

  .form-control {
    font-size: 1.8rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    color: var(--white);
  }

  .btn {
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .btn-primary {
    background-color: var(--color-purple-primary-light);
    border: none;
  }
}
